@page
@model proiect_clinica.Pages.Animale.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Animal.ID" />
            <div class="form-group">
                <label asp-for="Animal.Nume" class="control-label"></label>
                <input asp-for="Animal.Nume" class="form-control" />
                <span asp-validation-for="Animal.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Rasa" class="control-label"></label>
                <input asp-for="Animal.Rasa" class="form-control" />
                <span asp-validation-for="Animal.Rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.DataNastere" class="control-label"></label>
                <input asp-for="Animal.DataNastere" class="form-control" />
                <span asp-validation-for="Animal.DataNastere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Sex" class="control-label"></label>
                <input asp-for="Animal.Sex" class="form-control" />
                <span asp-validation-for="Animal.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Greutate" class="control-label"></label>
                <input asp-for="Animal.Greutate" class="form-control" />
                <span asp-validation-for="Animal.Greutate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Client.NumeComplet" class="control-label"></label>
                <select asp-for="Animal.Client.NumeComplet" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="Animal.Client.NumeComplet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
