@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit in clinica noastra,</h1>
    <p>Descopera serviciile noastre la un click distanta!</a>.</p>
    <img src="~/images/logo.png" alt="Logo Clinica" style="width: 600px ; height:auto;"/> 
</div>
